<% include partials/header %>

<div class="container">
    
    <header class="jumbotron">
        <div class="container">
            <H1>Welcome to YelpCamp</H1>
            <p>View our hand picked campgrounds from all over the world !</p>
            <p>
                <a href="/campground/new" class="btn btn-primary"> Add New campground</a>
            </p>
        </div>
    </header>
    
    <!--<div class="row justify-content-around">-->
        
    <!--    <% campgrounds.forEach(function(campground){ %>-->
        
    <!--    <div class="col-md-3 col-sm-6">-->

    <!--        <h2><%= campground.name %></h2>-->
    <!--        <div class="img-thumbnail" style="height:200px; width:200px">-->
    <!--            <img src="<%= campground.image %>"></img>-->
    <!--        </div>-->
            
    <!--    </div>-->
    <!--    <% }); %>-->

    <!--</div>-->
    
    <div class="row ">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                  <img class="card-img-top" style="height:200px;" src="<%= campground.image %>" alt="<%= campground.name %>">
                  <div class="card-body">
                    <h5 class="card-title"><%= campground.name %></h5>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                  </div>
                </div>
            </div>
        <% }); %>
    
</div>
<% include partials/footer %>